body {
    background-color: gray;
    color: lightgray;
    font-family: monospace, "Courier New";
    font-size: 1.3rem;
}

h1, h2, h3, h4 {
    color: lightgreen;
}

.post > h1, h2, h3, h4 {
    font-style: italic;    
}

hr {
    color: green;
    background-color: green;
    height: 2px;
}

.container {
    background-color: #200020;
    margin: auto;
    margin-top: 2rem;
    max-width: 1024px;
    padding: 0.1rem 2rem 2.5rem 2rem;
}

.copyright {
    color: grey;
    float: right;
    font-style: italic;    
}

.tagline {
    color: grey;
    font-size: 1rem;
    font-style: italic;    
    margin-top: -30px;
}

.timestamp {
    color: gray;
    font-size: 0.8rem;
    font-style: italic;    
    margin-bottom: 15px;
    margin-top: -25px;
}